@using OurGoT.Pages
@page "/"


<img src = "../Img/got.jpg" class = "Head">
<div class="Menu">
<h3 class="ChoosePlayer">Choose Players</h3>
<select class="Select" style="width: 20px;" @bind = "players">
<option value = "human">Human</option>
<option value = "virtual">Virtual</option>
</select>
    <button class="Select" style="width: 50px;" @onclick = "Players">
        Select
    </button>
@if(players=="human")
{
    <input class="Input" @bind-value = "name" placeholder ="Name" @onkeyup="Enter">
}



<a class = "CreateCard" href="/CreateCard">
            Create Card
</a> 


@if(Play.CurrentPlayer.Name != "")
{
    <p class="Name">Player @Play.CurrentPlayer.Name saved </p>
}
@if(Play.NextPlayer.Name != "")
{
    <p class="Name">Player @Play.NextPlayer.Name saved </p>
}
   

@if(Play.CurrentPlayer.Name != "" && Play.NextPlayer.Name != "")
    {
        <a class = "fcc-btn" href="/Play2">
            Play
        </a>
    }
        
</div>

@code
{
    public string players="" ;
    public string name = "";
    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
            Players();
    }
    public void Players()
    {
        string [] Playeres = {"Robert_Barathyon","Daenerys","Cersei","Joffrey","Thom","Jon_Snow"};
        
        if(Play.CurrentPlayer.Name == "")
        {
            if(players=="human") Play.CurrentPlayer = new Player(name);
            else Play.CurrentPlayer = new VirtualPlayer(Playeres[Methods.GetRandom(0,Playeres.Length-1)]);
        }
        else
        {
            if(players=="human") Play.NextPlayer = new Player(name);
            else
            {
                do{
                Play.NextPlayer = new VirtualPlayer(Playeres[Methods.GetRandom(0,Playeres.Length-1)]);
                }while(Play.NextPlayer.Name == Play.CurrentPlayer.Name);
            }
        }
    }
}